* {
    font-family: 'Public Sans';
    /* margin-left: 10px;
    margin-right:10px; */
    /* padding: 5px; */
    box-sizing: border-box;
    line-height: 1.5;



}


@media screen and (max-width: 500px) {


    .bg-container {
        
        width: 100%;
        padding: 10px;
    }

    .header-container {
        
        display: flex;
        justify-content: space-around;
    }

    .navlinks-container {
        display: none;
    }

    .header-button {
        display: none;
    }

    .header-image {
        height: 5vh;
        width: 40%;
        padding: 10px;
    }

    .hamburger-image {

        height: 15px;
        width: 20px;
        margin: 10px;


    }

  
    nav {
        background-color: white;
        
    }

    nav ul li a:hover {
        color: green;
        font-weight: bold;

    }

    input[type="checkbox"] {
        display: none;
    }

    nav ul {
        list-style: none;
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: white;
        height: 40%;
        width: 70%;
        transition: 0.3s;
        text-align: center;
    }

    #hambugerMenu:checked~ul {
        left: 13%;
    }

    nav ul li {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    nav ul li a {
        color: black;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        border-radius: 5px;
        width: 100%;
        margin-left: -100%;
        transition: 0.3s;
    }

    #hambugerMenu:checked~ul li a {
        margin-left: 0px;
    }

    .next-generation-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #fafafa;
        flex-wrap: wrap;

        
    }

    .next-generation-details-container {
        height: 60vh;
        width: 100%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
        text-align: center;


        order: 1;
    }

    .next-gen-heading {
        font-size: 34px;
    }

    .next-gen-paragraph {
        font-size: 14px;
    }

    .invite-button {
        height: 60px;
        width: 200px;
        margin-bottom: 10px;
        margin-left: 10px;
        border-radius: 30px;
        font-size: 10px;
        border-width: 0px;
        color: hsl(0, 0%, 100%);
        background-color: hsl(136, 65%, 51%);
        background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    }

    .next-generation-image-container {
        background-image: url(./images/bg-intro-desktop.svg);
        background-position: -15em -35em;
        background-repeat: no-repeat;
        width: 100%;
        padding: 100px;
        margin-left: auto;
        overflow: hidden;


        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;


    }

    .mockup-image {
        
        height: 55vh;
        margin-top: -14em;
        margin-left: 0em;
        

    }

    .why-choose-section {
        width: 100%;
        background-color: #f4f5f7;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 40px;
        text-align: center;


    }

    .why-choose-text-details {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .why-choose-heading {
        font-size: 34px;
    }

    .why-choose-paragraph {

        font-size: 14px;
    }

    .features-container {
        background-color: #f4f5f7;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
    }

    .feature-card-container {
        background-color: #f4f5f7;
        margin-top: 20px;
        margin-bottom: 20px;

    }


    .feature-heading {
        font-size: 28px;
    }

    .feature-paragraph {
        font-size: 14px;
    }

    .latest-articles-section {
        width: 100%;
        background-color: #fafafa;
        /* padding-left: 120px;
        padding-right:120px; */
        text-align: center;
        /* background-color: #ffffff; */
        /* border: 3px yellow solid; */
        overflow: hidden;
        
    }

    .latest-articles-heading {
        font-size: 20px;
        text-align: center;
        
        

    }


    .articles-container {
        /* max-width:420px; */
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        /* flex-wrap: wrap; */
        /* margin:20px; */
        /* border:3px red solid; */
        overflow: hidden;
        margin-bottom:40px;

    }


    .article-card {
        max-width: 400px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 5px;
        padding-left: 100px;
        padding-right: 100px;
        /* border:3px red solid; */

    }


    .article-text-container {
        width:350px;
        text-align: left;
        padding-left:20px;
        padding-left:20px;
        margin-bottom:20px;
        
        

    }


    .article-author {
        font-size: 14px;
        

    }

    .article-heading {
        font-size: 22px;
    }

    .article-paragragh {
        font-size: 16px;

    }

    .article-image {
       
        max-width:350px;
        height:35vh;
        
        
    }

    .footer-section-container {
        height:50vh;
        width: 100%;
        background-color: #2d314e;
        color: white;
        font-size: 20px;
        
        padding-top:20px;
        padding-left:20px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;


    }

    .footer-info-text{
        font-size:10px;
    }

    .footer-left-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

    }

    .logo-icons-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .sm-icons-container {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .sm-icon-image {
        border-radius: 10px;
        height: 3vh;
        margin: 4px;

    }

    .path {
        fill: white;
    }


    .footer-info-contatiner1 {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-self: stretch
    }

    .footer-info-contatiner2 {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-self: stretch
    }

    .footer-right-container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .footer-button {
        height: 50px;
        width: 200px;
        margin-bottom: 10px;
        margin-left: 10px;
        border-radius: 30px;
        font-size: 16px;
        color: hsl(0, 0%, 100%);
        background-color: hsl(136, 65%, 51%);
        background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    }

    .copyright-text{
        font-size:12px;
    }

}


@media screen and (min-width: 500px) {

    .bg-container {
        
        width: 100%;
        padding: 10px;
    }

    .header-container {
        display: flex;
        justify-content: space-around;
        background-color: hsl(0, 0%, 100%);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    

    .header-image {
        height: 50px;
        width:15%;
        margin-top: 20px;
        padding-bottom: 10px;
        
    }

    .navlinks-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
       
        padding-right:20px;
        padding-left:20px;
        
    }
    
        
    .nav-link {
        font-size:25px;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 2px;
        cursor: pointer;
        padding: 5px;
    }

    .nav-link:hover {
        color: green;
        font-weight: bold;
        border-style: solid;
        border-bottom-color: green;
        border-top-color: white;
        border-left-color: white;
        border-right-color: white;
    }

    .header-button {
        height: 50px;
        width: 200px;
        margin-top:10px;
        
        margin-left: 10px;
        border-radius: 30px;
        font-size: 16px;
        color: hsl(0, 0%, 100%);
        background-color: hsl(136, 65%, 51%);
        background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    }


    nav {
        display: none;
    }

    .next-generation-section {
        display: flex;
        align-items: flex-start;
        background-color: #fafafa;
        margin-bottom: -10em;
    }

    .next-generation-details-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: strech;
        padding: 150px;
        flex-shrink: 1;
    }

    .next-generation-image-container {
        background-image: url(./images/bg-intro-desktop.svg);
        background-position: 12em -14em;
        background-repeat: no-repeat;
        width: 60%;

        margin-left: auto;
        overflow: hidden;
    }

    .mockup-image {
        height: 100vh;
        margin-top: -10em;
        margin-left: 25em;

    }

    .next-gen-heading {
        font-size: 60px;
        width: 100%;
    }

    .next-gen-paragraph {
        font-size: 25px;
    }

    .invite-button {
        height: 60px;
        width: 200px;
        margin-bottom: 10px;
        margin-left: 10px;
        border-radius: 30px;
        font-size: 16px;
        border-width: 0px;
        color: hsl(0, 0%, 100%);
        background-color: hsl(136, 65%, 51%);
        background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
        border: 2px green solid;
    }


    .why-choose-section {
        background-color: #f4f5f7;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 150px;

    }

    .why-choose-text-details {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .why-choose-heading {
        font-size: 60px;
    }

    .why-choose-paragraph {

        font-size: 25px;
    }

    .features-container {
        background-color: #f4f5f7;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .feature-card-container {
        background-color: #f4f5f7;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 25px;

    }


    .feature-heading {
        font-size: 30px;
    }

    .feature-paragraph {
        font-size: 25px;
    }




    .latest-articles-section {
        background-color: #fafafa;
        padding: 150px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .latest-articles-heading {
        font-size: 40px;
    }


    .articles-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }


    .article-card {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 25px;
        padding-bottom:25px;


    }


    .article-text-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 35px;

    }

    .article-image {
        width: 100%;
        height: 30vh;
    }


    .article-author {
        font-size: 22px;

    }

    .article-heading {
        font-size: 25px;
    }

    .article-paragragh {
        font-size: 20px;
        margin-bottom:20px;

    }


    .footer-section-container {
        background-color: #2d314e;
        height: 20vh;
        color: white;
        font-size: 20px;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .footer-left-container {
        display: flex;
        justify-content: space-around;
        align-items:center;
        flex-grow: 2;


    }

    .logo-icons-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    /* .footer-logo{
        width:200px;
    } */

    .sm-icons-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .sm-icon-image {
        margin-right: 5px;
        border-radius: 10px;
        height: 3vh;

    }

    .path {
        fill: white;
    }

    .footer-right-container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-button {
        height: 50px;
        width: 200px;
        margin-bottom: 10px;
        margin-left: 10px;
        border-radius: 30px;
        font-size: 16px;
        color: hsl(0, 0%, 100%);
        background-color: hsl(136, 65%, 51%);
        background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    }

    .copyright-text{
        font-size:12px;
    }



}